@import 'auth-page/auth-page.scss';


.main {
    width: 100%;
    height: 100%;
    display: flex;
    background: $bcg;
    background: linear-gradient(30deg, rgba(243,244,91,1) 60%, rgba(71,222,165,1) 40%);
}