@import 'default/reset';
@import '../node_modules/bootstrap/scss/bootstrap';

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    #root {
        width: 100%;
        height: 100%;
        
        @import 'color/color';
        @import 'pages/main.scss';
        
        
    }
    
}

