.col-9,
.col-3 {
    padding: 0;
}




.empty-block {
    
    text-align: center;
    
}

.choose {
    width: 41%;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    background-color: #000000; 
    opacity: 0.3;
}

.users-manag {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    
}

.userlist-header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    
}

.users-form-group {
    margin-bottom: 0;
    width: 80%;
}

.form-control{
    background-color: #F1F1F1;
}

.sidebar-btn {
    width: 23px;
    height: 15px;
    margin-right: 5%;
}

.users-list {
    width: 100%;
    // margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.list {
    height: 100%;
    overflow-y: auto;
}

.user-item {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    border-bottom: solid 1px;
    border-color: #ADADAD;

}

.user {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.alg {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.alg:hover {
    background: $btn;
    cursor: pointer;
}


.user:hover {
    background: $btn;
    cursor: pointer;
}



.pointer {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.active-pointer {
    width: 11px;
    height: 10px;
    margin-right: 15px;
    margin-left: 4px;
}



.main-part {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-header {
    width: 100%;
    height: 58px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;

}

.header-el {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    

}

.title {
    font-size: 25px;
    font-weight: 400;
    margin-right: 20px;
    margin-left: 20px;
}

.block-img{
    width: 14px;
    height: 15px;
    margin-bottom: 9px;
}

.block-img:hover {
    cursor: pointer;
}

.access-right-btn {
    opacity: 0.5;
    margin-bottom: 4px;
}

.access-right-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}


.user-block{
    width: 100%;
}

.alg-list {
    width: 90%;
    margin-left: auto;
    margin-right: 0;
}
.alg-img {
    margin-right: 10px;
}

.alg-item {
    
    
}

.alg-border {
    display: flex;
    align-items: center;
    width: 94%;
    height: 50px;
    border-bottom: solid 1px;
    border-color: #ADADAD;
}

.select-alg-item {
    background: $active-btn;
}


.new-alg-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-alg-btn-title {
    width: 85%;
    border-bottom: solid 1px;
    border-color: #ADADAD;
    margin-right: 5%;
    padding-top: 4%;
    height: 50px;
}

.alg-menu {
    width: 100%;
    height: 10%;
    background: #fff;
    border: solid 1px;
    display: flex;
    align-items: center;
}

.menu-part {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.alg-main-part {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menu-btn {
    margin-left: 35px;
    margin-right: 35px;
    border: solid 1px;
    padding:  10px 20px 10px 20px;
    border-radius: 5px;
}

.menu-btn-2{
    margin-left: 0;
    margin-right: 15px;
}

.menu-btn-2{
    
    margin-right: 0;
}

.menu-btn-1:hover{
    background: #8EFFC9;
}

.menu-btn-2:hover{
    background: #0089FF;
}

.menu-btn-3:hover{
    background: #FF6767;
}

.user-menu-btn-3 {
    margin-right: 35px;
    margin-left: auto;
}
.user-menu-btn-3:hover{
    background: #FF6767;
}