.col-9,
.col-3 {
    padding: 0;
}




.empty-block {
    
    text-align: center;
    
}

.choose {
    width: 41%;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    background-color: #000000; 
    opacity: 0.3;
}

.users-manag {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    
}

.userlist-header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    
}

.users-form-group {
    margin-bottom: 0;
    width: 80%;
}

.form-control{
    background-color: #F1F1F1;
}

.sidebar-btn {
    width: 23px;
    height: 15px;
    margin-right: 5%;
}

.users-list {
    width: 100%;
    // margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-item {
    display: flex;
    align-items: center;
}

.user {
   width: 90%;
}

// .list-group-item {
    
//     align-items: center;
// }


.pointer {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.active-pointer {
    width: 11px;
    height: 11px;
    margin-right: 15px;
}

.alg-list {
    width: 90%;
    margin-left: auto;
    margin-right: 0;
}
.alg-img {
    margin-right: 10px;
}

.main-part {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-el {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    font-size: 25px;
    font-weight: 400;
    margin-right: 20px;
    margin-left: 20px;
}

.block-img{
    width: 14px;
    height: 15px;
}

.access-right {
    opacity: 0.3;
}